*{
    margin: 0;
    padding: 0;
}
/* navbar starts */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}
.social-link i img{

    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;

}
.social-link i img:hover{

    background-color: gray;
    border-radius: 50px;

}
@media screen and(max-width:400px){

    .social-link i img{

        width: 20px;
    }
    
}
.logo h3{
    font-weight: bold;
}
@media screen and(max-width:400px){
    .logo h3{
        font-size: 20px;
    } 
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and(max-width:400px) {

    .icon i img{
        width:20px;
    }
    
}
/* navbar ends */


/* main content */
.main-content{
    width: 100%;
    height: 90vh;
    background-image: url(https://images.pexels.com/photos/775031/pexels-photo-775031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: 70%;
}
#navbar-color{
    background-image:linear-gradient(to right,#c2e59c,#64b3f4);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link{
    color: green;
}
.content{
    margin-top: 150px;
    margin-left: 60px;
    
}
.content h1{
    font-size: 50px;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;

}
#btn1 button:hover{
        background-color: brown;
}
@media screen and(max-width:420px){
   
    .content h1{
        font-size: 30px;
    }
    
}

/* main content */

/* card */

.card img{
    height: 300px;
    width:auto;
}
.card{
    border-radius: 2rem;
    transition:all ease .5s;
    cursor: pointer;
}
.card:hover{
    box-shadow: 10px 10px 15px gray;
    margin-top: -1rem;
    cursor: pointer;
}

/* card */

/* shop */
.card1 img{
    height: 250px;
    width: 250px;
}

#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color: rgb(233, 224, 224);
}
@media screen and (max-width:870px){
    #btn3 button{
        width: 100px;
    }
    
}


/* shop */
#footer{
    background-color: black;
    color: white;
}